html, body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}
.right {
    float: right;
}
#pages {
    padding-top: 70px;
}
section .page {
    display: none;
    text-align: center;
}
section .active {
    display: block;
}
section #loading {
    display: block;
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover:not(.active) {
    background-color: #111;
}
nav ul li a.active {
    background-color: #4CAF50;
}
#status {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 250px;
    height: auto;
    text-align: center;
    z-index: 999;
}

#status .notify {
    overflow-x: hidden;
    background-color: #2273e4;
    border-radius: 9px;
    color: #fff;
    width: 220px;
    min-height: 100px;
    margin-bottom: 20px;
}
    #status .notify div:first-child {
        background-color: #2f589a;
    }

#apitest > form {
    margin: 10px auto;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #000;
}
#apitest > form textarea {
    width: 100%;
    height: 250px;
    border-radius: 9px;
    border: 1px solid #ddd;
    color: #000;
}

pre {
    font-family: monospace;
    text-align: left;
    width: 50%;
    background-color: #eee;
    border-radius: 9px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
}

i {
    color: #999;
}

/* Project Section */
#projects > div.container, #customers > div.container {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
}
/* Left */
#projects div.project_list, #customers div.customer_list {
    margin: 10px;
    flex-basis: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 9px;
    border: 1px solid #999;
    background-color: #eee;
    color: #000;
    overflow-x: hidden;
}

/* Middle or Auto*/
#projects div.project_hirachy, #customers div.customer_data {
    margin: 10px;
    flex-basis: auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 9px;
    border: 1px solid #999;
    background-color: #eee;
    color: #000;
    overflow-x: hidden;
}
/* Titles */
#pages div.title {
    border-bottom: 1px solid #999;
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #cdcdcd;
}

/* Right panel */
#projects div.project_panel {
    margin: 10px;
    flex-basis: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    /*overflow-x: hidden;*/
}

/* Right panel childern elements */
#projects div.project_panel > div {
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 9px;
    border: 1px solid #999;
    background-color: #eee;
    color: #000;
    overflow-x: hidden;
}

#projects .project_list > .content > .project, #customers .customer_list > .content > .customer {
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #999;
}

    #projects .project_list > .content > .project > i, #projects .project_new_element .content i, #customers .customer_list > .content > .customer > i {
        margin-right: 15px;
    }

    #projects .project_list > .content > .project:hover, #customers .customer_list > .content > .customer:hover {
        background-color: #ccc;
    }

#projects .project_list > .content > .active, #customers .customer_list > .content > .active {
    background-color: #4CAF50;
    color: #fff;
}

#projects .project_list > .new, #projects .project_new_element .content, #customers .customer_list > .new {
    padding: 10px;
    text-align: left;
}

    #projects .project_list > .new > input, #projects .project_new_element input, #customers .customer_list > .new > input {
        padding: 4px;
        font-size: 16px;
        border-radius: 9px;
        border: 1px solid #999;
        margin: 0px 10px 0px 10px;
    }



/* Hirachy */
.project_hirachy .content .sortable {
    /*border: 1px solid #eee; */
    min-width: 120px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

    .project_hirachy .content .sortable li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
        min-width: 120px;
        /* display: inline-block; */
        border: 1px solid #999;
        background: #cdcdcd;
    }





/* ApiTest Section */

.filedock {
    width: 300px;
    height: 150px;
    border: 1px solid #999;
    background-color: #ddd;
    color: #999;
    text-align: center;
    margin: 0 auto;
}

.filedock_hover {
    background-color: yellow;
}