html, body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.right {
    float: right;
}
#pages {
    padding-top: 70px;
}
section .page {
    display: none;
    text-align: center;
}
section .active {
    display: block;
}
section #loading {
    display: block;
    z-index: 10;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover:not(.active) {
    background-color: #111;
}
nav ul li a.active {
    background-color: #4CAF50;
}
#status {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 250px;
    height: auto;
    text-align: center;
    z-index: 999;
}

#status .notify {
    overflow-x: hidden;
    background-color: #2273e4;
    border-radius: 9px;
    color: #fff;
    width: 220px;
    min-height: 100px;
    margin-bottom: 20px;
}
    #status .notify div:first-child {
        background-color: #2f589a;
    }

#apitest form {
    margin: 10px auto;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #000;
}
    #apitest form textarea {
        width: 100%;
        height: 250px;
        border-radius: 9px;
        border: 1px solid #ddd;
        color: #000;
    }

pre {
    font-family: monospace;
    text-align: left;
    width: 50%;
    background-color: #eee;
    border-radius: 9px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ddd;
}

/* Project Section */
#project_list {
    margin: 10px auto;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
    background-color: #eee;
    color: #000;
    overflow-x: hidden;
}

    #project_list .projects {
        height: 30px;
        padding-top: 5px;
        font-size: 16px;
    }

    #project_list .projects:hover {
        background-color: #ccc;
    }

    #project_list .active {
        background-color: #4CAF50;
        color: #fff;
    }

#project_list_title {
    border-bottom: 1px solid #ddd;
    margin: -10px -10px 0px -10px;
    height: 30px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #cdcdcd;
}



/* Customer Section */

/* ApiTest Section */